@model List<EnvironmentManagement.UI.Models.EnvironmentListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 style="color:#092bb2">List of all available Environments</h2>
    </div>
    <div class="panel-body">
        @if (TempData["Message"] != null)
        {
            <div class="bs-example">
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Success!</strong> @TempData["Message"]
                </div>
            </div>
        }
        <div id="PDIT-DEV" class="col-md-6 text-center" style="height:1000px;color:#0094ff">
            <h3>PDIT-DEV</h3>
            <hr />
            @foreach (var item in Model)
            {
                if (item.ENVIRONMENTZONE.Equals("PDIT-DEV"))
                {
                    <div style="width:100%;height:auto;background-color:#2196F3;margin-bottom:15px;padding:10px 0 10px 0;position:relative" class="container">
                        <div class="col-md-6 text-left">
                            <img src="~/Content/multiple25.svg" style="width:100%;height:100%" class="col-md-6" />
                            <span style="font-size:1.35em;color:white;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">@item.INTENDEDUSERS</span>
                        </div>
                        <div class="col-md-6">
                            <img src="~/Content/server12.svg" style="width:100%;height:100%;margin-right:0" class="col-md-6" />
                            <span style="font-size:1.35em;color:white;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">@item.ENVIRONMENTNAME</span>
                        </div>
                        <a href="/Environment/Edit/?EnvironmentID=@item.ENVIRONMENTID">
                            <span class="link-spanner"></span>
                        </a>
                    </div>
                }
            }         

        </div>
        <div id="North-OCI" class="col-md-6 text-center" style="height:1000px;color:#06ab14">
            <h3>NORTH-OCI</h3>
            <hr />
            @foreach (var item in Model)
            {
                if (item.ENVIRONMENTZONE.Equals("NORTH-OCI"))
                {
                    <div style="width:100%;height:auto;background-color:#FFEB3B;margin-bottom:15px;padding:10px 0 10px 0;position:relative" class="container">
                        <div class="col-md-6 text-left">
                            <img src="~/Content/multiple25.svg" style="width:100%;height:100%" class="col-md-6" />
                            <span style="font-size:1.35em;color:blue;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">@item.INTENDEDUSERS</span>
                        </div>
                        <div class="col-md-6">
                            <img src="~/Content/server12.svg" style="width:100%;height:100%;margin-right:0" class="col-md-6" />
                            <span style="font-size:1.35em;color:blue;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">@item.ENVIRONMENTNAME</span>
                        </div>
                        <a href="/Environment/Edit/?EnvironmentID=@item.ENVIRONMENTID">
                            <span class="link-spanner"></span>
                        </a>
                    </div>
                }
            }            
        </div>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Create a new environment", "Edit", null, new { style="font-size:1.35em"})
    </div>
</div>

